// Bootstrap
@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
// Partials
@import "partials/variable";
@import "partials/base";
@import "partials/typography";
@import "partials/auth";
@import "partials/helpers";
@import "partials/sections";
@import "partials/nav";
// Components
@import "components/common";
@import "components/button";
@import "components/navigation";
@import "components/tab";
@import "components/request";

/* Dashboard Styles */
.dashboard {
    background-color: #fafafa;
    display: flex;
    height: 100vh;

    &__top {
        justify-content: space-between;
    }

    &__amount {
        padding: 10px 25px;
        border-radius: 10px;
        background: #c7eee480;
        color: #06a37d;
        font-weight: 700;
    }

    &__sidebar {
        background-color: #ffffff;
        // flex-basis: 0 0 auto;
        max-width: 268px;
        height: 100%;
        display: flex;
        flex-direction: column;

        &-box {
            &--logo {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                margin-bottom: 30px;
            }
        }

        &-dashboard-menu {
            margin-bottom: auto;
        }

        // &-dashboard-user {
        // }
    }

    &__content {
        flex: 1;
        padding: 24px;
        overflow-y: scroll;
    }

    ._heading {
        margin-top: 1.5rem;
        margin-bottom: 4rem;

        h1 {
            font-size: 28px;
            font-weight: 600;
            // margin-bottom: 24px;
        }

        .back_btn {
            display: block;
            margin: 32px 24px;
        }
    }

    .active {
        background-color: #eeefef;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    // &__userpic{}

    &__userinfo {
        .username {
            font-weight: 800;
        }
    }

    &__logout {
        margin-bottom: 30px;
        padding: 0 30px;
    }

    &__steps {
        flex: 1;
    }

    &__counts {
        background-color: #fff;
        padding: 10px;
        border-radius: 7px;

        ul {
            margin: 0;
        }

        li {
            display: inline;

            &:first-child:before {
                content: "\2714";
                background: lightseagreen;
                padding: 0px 3px;
                border-radius: 3px;
                margin: 8px;
                color: #fff;
            }

            &:not(:first-child):before {
                content: "\2714";
                background: grey;
                padding: 0px 3px;
                border-radius: 3px;
                margin: 8px;
                color: #fff;
            }
        }
    }

    .jamboard {
        background-color: #fbd1a240;
        padding: 20px 30px;
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 20px;

        .usericon {
            flex-basis: 12rem;
        }
    }

    .requests {
        text-align: center;

        &-div {
            text-align: center;
        }

        &-card {
            background-color: rgba(140, 140, 140, 0.0705882353);
            height: 25rem;
            box-shadow: 0px 3px 1px #ddd;
        }
    }
}

.request_page {
    .requestForm {
        width: 100%;
        max-width: 560px;
        margin: auto;

        .upload_group {
            padding: 32px 12px;
            border-radius: 15px;
            border: 1px dashed #8c8c8c;
            margin-bottom: 24px;
            text-align: center;
        }
    }
}

.notification_page {
    .not_found {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 19vh;

        .box_icon {
            width: 120px;
            margin-bottom: 18px;
        }
    }

    ._container {
        padding: 24px;
        background: #fff;

        .search_field {
            padding: 12px 14px;
            max-width: 52vw;
            background: #fafafa;
        }

        ._table {
            margin-top: 5rem;
        }

        .notifyItem {
            max-width: 780px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 40px;

            &__icon {
                max-width: 52px;
            }

            &__content {
                padding-left: 18px;

                p {
                    margin-bottom: 0;
                }
            }

            &__time {
                align-self: flex-start;
                margin-left: auto;
                text-align: right;
                min-width: 60px;
                margin-left: 24px;
                margin-top: 4px;
            }
        }

        .see_more_btn {
            text-align: center;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.settings_page {
    .nav-tabs {
        width: 100%;
        border: none;
        border-radius: 0;
        background: none;
        box-shadow: none;
        flex-wrap: nowrap;
        overflow-x: auto;

        .nav-link.active {
            color: #131313;
            font-weight: 600;
            background: none;
            border-bottom: 2px solid #06a37d !important;
        }
        .nav-link {
            color: #8c8c8c;
            padding: 6px 24px 8px;
            border-bottom: 1.4px solid #dedede !important;
            border-top: none;
            border-left: none;
            border-right: none;
        }
    }

    .tab-pane {
        padding: 28px;
        background: none;

        .tab_panel_content {
            width: 100%;
            max-width: 560px;
        }

        .notification_form {
            margin-top: 38px;
        }
    }

    .checbox_form_group {
        margin-bottom: 46px;
    }
}

.modal {
    form {
        max-width: 380px;
        padding: 0 12px;
        margin-top: 28px;
    }

    .btn-close {
        position: relative;
        top: 14px;
        right: 14px;
    }

    .modal-footer {
        padding-top: 18px;
        padding-bottom: 12px;
    }

    &#TwoFactorModal {
        .modal-body {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .content {
            padding: 0 16px;
            margin-top: 28px;
        }

        .twoFa_Select {
            .twoFaSelect_item {
                padding: 8px 18px;
                border-radius: 6px;
                margin-bottom: 22px;
                border: 1px solid #8c8c8c;
                cursor: pointer;

                label {
                    display: block;
                    font-size: 16px;
                    font-weight: 600;
                }
                .text-gray {
                    font-size: 13px;
                }
            }
        }

        .twoFa_QRcode {
            .QRcode_img {
                max-width: 150px;
                margin-bottom: 22px;
            }
        }
    }
}
