/* Helper class */
.hasCenter{ text-align: center;}
.alignCenter {align-self: center;}
.alignedCenter{ align-items: center;}

img{ width: 100%;height: 100%;}
.mt-30{ margin-top: 60px;align-items: center;}
.mb-4{ margin-bottom: 4rem;}
.mb-30{ margin-bottom: 60px;}
.pt-30 {padding-top:60px;}
.pb-30 {padding-bottom: 60px;}
.bold{font-weight: 800;}
.green{ color: #4fa47e;}
.white{ color: #ffffff;}
.hasWhite{ background-color: #ffffff;}
.black{ color: #000000}
.image{ width: 100%;height: 100%;}
.inline-block{ display: inline-block;}
.block{ display: block;}
.margin{ margin-bottom: 2rem; padding: 2rem; }
// .flex-direction{ flex-direction: column;}

section{ padding: 10rem 0;}