.btn {
    padding: 1rem 3rem;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-family: inherit;
    font-size: 16px;
    text-decoration: none;

    &:not(:last-child){
        margin-right: 12px;
    }

    &_request{
        color: $secondary-color;
        background-color: $primary-color;
    }

    &__gray {
        background-color: #d9d9d9;
        color: inherit;
        
        &:hover{
            background-color: #c9c6c6;
        }
    }

    &__btnColor{
        background-color: #4fa47e;
        color: #fff;
        
        &:hover{
            background-color: #3c7e61;
        }
    }
}
.btnColor {
    background-color: #4fa47e;
    color: #fff;
}